body{
  top:0;
  margin:0;
  font-family:"Lato";
  background-color:#165C7D;
}

.header{
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:5%;
  margin-right:5%;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
}

.header h2{
  margin:0;
  padding:1em;
}

.header a{
  padding:1em;
  margin-left:3em;
  text-decoration:none;
  color:#165C7D;

}

.header a:hover{
  background-color:#0094D2;
  color:white;
}


  .active{
    background-color:#DAEAEC;
  }

h1{
  text-align: center;
  color:#165C7D;
}

.content{
padding-top: 10px;
 padding-right: 30px;
 padding-bottom: 10px;
 padding-left: 80px;
 margin-left:20%;
 margin-right:20%;
 margin-top:1%;
 margin-bottom:1%;
 background:lightgrey;
 justify-content:center;
 align-items:center;
}

.content a{
  color:#165C7D;
}

img {
  display: block;
  padding-left: 20px;
  padding-right: auto;
}

.footer {
  margin: 1%;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#0094D2;
  padding-top: 10px;
   padding-right: 30px;
   padding-bottom: 10px;
   padding-left: 80px;
   margin-left:20%;
   margin-right:20%;
   margin-top:1%;
   margin-bottom:1%;
}

.footer a{
  color:#0094D2;
      font-weight: bold;
}

.footer a:hover{
  color:#0094D2;
}

@media screen and (orientation:portrait){
  .header{
    display:block;
    text-align:center;
  }
  .header a{
    display:block;
    margin:0;
  }
}
